---
/**
 * GTMNoScript - GTM noscript fallback for body
 *
 * Add right after opening <body> tag in your layout:
 * import GTMNoScript from '@leadgen/conversion-tracking/components/GTMNoScript.astro';
 *
 * <body>
 *   <GTMNoScript />
 *   ...
 * </body>
 */

interface Props {
  gtmId?: string;
}

const { gtmId } = Astro.props;

// Get GTM ID from props or config
function getGtmId(): string {
  if (gtmId) return gtmId;

  // During SSR, we can't access window.__TRACKING_CONFIG__
  // Users should pass gtmId prop or we'll use empty string
  return '';
}

const containerId = getGtmId();
---

{containerId && (
  <noscript>
    <iframe
      src={`https://www.googletagmanager.com/ns.html?id=${containerId}`}
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe>
  </noscript>
)}
